{{> header}}
<div class="page-content">
  <div class="container">
    {{#if course.thumbnail}}
    <img src="{{course.thumbnail}}" alt="{{course.title}}" class="featured-image">
    {{/if}}
    <h1>{{course.title}}</h1>
    <div class="post-meta">
      <span>Level: {{course.level}}</span>
      {{#if course.estimatedHours}} &bull; <span>{{course.estimatedHours}} hours</span>{{/if}}
    </div>
    <div class="post-body">
      {{{course.description}}}
    </div>
    <div style="margin-top: 2rem;">
      <p style="font-size: 1.5rem; color: var(--color-primary); font-weight: 600;">
        {{#if (eq course.priceType 'FREE')}}Free{{else}}${{course.priceAmount}}{{/if}}
      </p>
      {{#if (eq course.priceType 'FREE')}}
      <button class="btn btn-primary btn-lg" style="margin-top: 1rem;" data-enroll-course="{{course.id}}">Enroll Now - Free</button>
      {{else}}
      <button class="btn btn-primary btn-lg" style="margin-top: 1rem;" data-add-course="{{course.id}}">Add to Cart</button>
      {{/if}}
    </div>
  </div>
</div>
{{> footer}}
